<div class="grid-x grid-margin-x">
  <div class="small-2 small-offset-1 cell">
    <p>count of autors</p>
    <%= pie_chart Autor.group(:name).count, width: "300px", height: "400px", colors: ["#b00", "#666", "b007", "#670"] %>
  </div>
  <div class="small-2 small-offset-1 cell">
    <p>count of articles</p>
    <%= pie_chart Article.group(:autor_id).count, width: "300px", height: "400px", colors: ["#b00", "#666", "b007", "#670"] %>
  </div>
  <div class="small-2 small-offset-1 cell">
    <p>count of comments</p>
    <%= bar_chart @autor.articles.map{|art| {name: art.title.to_s.byteslice(0..9), data: art.comments.group(:created_at).count}}, width: "500px", height: "400px", colors: ["#b00", "#666", "b007", "#670"]%>
  </div>
</div>
<div class="grid-x grid-margin-x">
  <div class="small-2 small-offset-1 cell">
    <p>when created</p>
    <%= line_chart Article.group(:created_at).count, width: "500px", height: "300px", colors: ["#b00", "#666", "b007", "#670"] %>
  </div>
  <div class="small-2 small-offset-3 cell">
    <p>salary</p>
    <%= pie_chart Autor.group(:name).sum(:salary), width: "300px", height: "400px", colors: ["#b00", "#666", "b007", "#670"] %>
  </div>
</div>
<div class="grid-x">
  <div class="cell large-offset-1">
    <%= link_to 'Back', articles_path %>
  </div>
</div>
