<div class="container-fluid all_charts">
  <div class="row">
    <div class="col-md-4">
    <p>count of autors</p>
    <%= pie_chart Autor.group(:name).count,width: "300px", height: "400px", colors: ["#b00", "#666", "b007", "#670"], library: {elements: {arc: ({borderWidth: 10})}} %>
</div>
  <div class="col-md-4">
    <p>count of articles</p>
    <%= pie_chart Article.group(:autor_id).count, width: "300px", height: "400px", colors: ["#b00", "#666", "b007", "#670"]%>
  </div>
  <div class="col-md-4">
    <p>salary</p>
    <%= pie_chart Autor.group(:name).sum(:salary), width: "300px", height: "400px", colors: ["#b00", "#666", "b007", "#670"], library: {animation: {easing: 'easeOutQuad'}, elements: {arc: {borderWidth: 0}}} %>
</div>
</div>
<div class="row">
<div class="col-md-4">
  <div class="form-inline button_chart">
    <%= link_to 'Back', articles_path, class: 'btn btn-primary' %>
    <%= link_to "download PDF", autors_charts_url(format: "pdf"), class: 'btn btn-primary'%>
  </div>
</div>
</div>
</div>
