<div class="container chart">
  <h3>hello,<%=" #{current_autor.autor_name}"%></h3>
 <div class="row">
<div class="col-md-6">
<table class="table">
  <tr>
    <th >Title</th>
    <th>status</th>
    <th>published_at</th>
    <th>comments</th>
  </tr>
<% @articles.each do |article| %>
  <tr>
    <td><%= link_to(article.title, edit_article_path(article)) %></td>
    <td><%= article.status %></td>
    <td><%= article.published_at %></td>
    <td><%= article.comments.map{|comment| comment.body}.join("\n")%></td>
    </tr>
<% end %>
</table>
</div>
<div class="col-md-6">
  <table class="table">
    <tr>
      <th>articles count</th>
      <th>comments count</th>
      <th>category of articles</th>
      <th>salary</th>
    </tr>
      <tr>
        <td><%= @autor.articles.count%></td>
        <td><%= @autor.articles.map {|article| article.comments.count}.join(', ')%></td>
        <td><%= @autor.articles.map {|article| article.category.name}.join(', ')%></td>
        <td><%= ((@autor.articles.map{|art| art.comments.count}).sum*0.8)+((@autor.articles.count)*10)+10 %></td>
  </table>
  <br>
  <label>Select color
          <select id="color">
            <option value="#666">1</option>
            <option value="#674">2</option>
            <option value="#655">3</option>
            <option value="#642">4</option>
          </select>
</label>

<div class="btn btn-primary"  onclick="changeColor()">Change colors</div>
</div>
</div>
<div class="row">
<div class="col-md-6">

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    count of autors
  </button>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <%= pie_chart Autor.group(:name).count,width: "250px", height: "350px", colors: ["#b00", "#666", "b007", "#670"]%>
  </div>
</div>
</div>

<div class="col-md-6">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    count of articles
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">count of articles</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= line_chart Article.group(:created_at).count, width: "300px", height: "200px", colors: ["#b00", "#666", "b007", "#670"]%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<div class="row">
  <!--
<div class="col-md-6">
-->
  <!-- Button trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
active date for comments
</button>-->

<!-- Modal 
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">active date for comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= bar_chart @autor.articles.map{|art| {name: art.title.to_s.byteslice(0..9), data: art.comments.group(:created_at).count}}, width: "292px", height: "350px", colors: ["#b00", "#666", "b007", "#670"]%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
</div>
-->
<div class="col-md-6">
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  salary
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">salary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= pie_chart Autor.group(:name).sum(:salary), width: "250px", height: "350px", colors: ["#b00", "#666", "b007", "#670"] %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>




</div>
</div>
<br>
<div class="row ">
  <div class="col-md-12">
    <div class="form-inline">
      <%=link_to 'charts', autors_charts_url, class: 'btn btn-primary'%>
      <%= link_to 'Back', articles_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>


</div>
  <script>

  function changeColor(){
    var x = document.getElementsByTagName("TH");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].style.backgroundColor = document.getElementById("color").value;

    }

  };
  jQuery(document).ready(function()

    {
      jQuery("th").css("background-color", "#0489B1");
      jQuery("tr:even").css("background-color","#FFFFFF");
      jQuery("table").css("border-style", "solid");
      jQuery("table").css("border-color", "#BDBDBD");
      jQuery("table").css("font-family", "Fira Sans");
      jQuery("table").css("padding", "2px");

      jQuery("tr").css("border-style", "solid");
      jQuery("tr").css("border-color", "#BDBDBD");

      jQuery("th").css("font-size", "large");
      jQuery("th").css("font-stretch", "condensed");
      jQuery("th").css("margin", "0px");

      jQuery("th").css("color", "#FFFFFF");
      jQuery("th").css("height", "50px");
      jQuery("tr").css("height", "50px");

      jQuery("table").css("border-collapse", "collapse");

      jQuery("td").css("border-style", "solid");
      jQuery("td").css("border-width", "2px");
      jQuery("td").css("border-left-color", "#E0ECF8");
      jQuery("td").css("border-right-color", "#E0ECF8");

      jQuery("tr:odd").css("background-color", "#E0ECF8");

    });
  </script>
