<div class="grid-container">
  <%= form_with(model: @article, local: true) do |form| %>
  <div class="grid-x grid-padding-x">
    <div class="medium-6 large-offset-1 cell">
<h3>Edit article</h3>
<% if @article.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@article.errors.count, "error") %>
  </h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
        <label>
          <%= form.label :title %><br>
          <%= form.text_field :title %>
        </label>
      </div>
      <div class="medium-6 large-offset-1 cell">
        <label>
          <%= form.label :body %><br>
          <%= form.text_area :body %>
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 large-offset-1 cell">
        <%= form.label :category_id %><br>
        <% category_array = Category.all.map {|category| [category.name,category.id]} %>
        <%= select(:article, :category_id, options_for_select(category_array)) %>
      </div>
      <div class="medium-6 large-offset-1 cell">
        <p>You can set time of published</p>
        <%= form.date_field :published_at %>
        <%= form.submit %>
      </div>
      <% end %>
    </div>
<%= link_to 'Back', articles_path %>
</div>
