

<div class="album text-muted">
  <div class="container">
    <div class="row favorite">
      <%if current_user.favorites.count > 0 %>
      <div class="col-md-10"></div>
      <div class="col-md-2">
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    You like its
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% current_user.favorites.each do |favorite| %>
    <%=link_to favorite.article.title, favorite.article, class:"dropdown-item" %>
    <%end%>
  </div>
  </div>
  </div>
<%end%>
</div>

    <div class="row" id= "articles" data-url = "<%= sort_articles_path %>">
      <% @article.each do |article| %>
      <div class="card" id="<%=dom_id(article)%>">
        <%= image_tag(article.banner("268X180!"), class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text"><%= truncate(markdown(article.body), length: 200, escape: false, omission: '...(continued)') %></p>
        <%= link_to "Read", article_path(article), class: "btn btn-primary"%>
      </div>
    </div>
    <% end %>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><%= will_paginate @article, class:"page-link" %></li>
  </ul>
</nav>

</div>
</div>
