<div class="grid-container">
  <%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <div class="grid-x grid-padding-x">
    <div class="medium-6 large-offset-1 cell">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="medium-6 large-offset-1 cell">
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </div>
  </div>
  <label>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 large-offset-1 cell">
        <%= form.label :category_id %><br>
        <% category_array = Category.all.map {|category| [category.name,category.id]} %>
        <%= select(:article, :category_id, options_for_select(category_array)) %>
      </div>
      <div class="medium-6 large-offset-1 cell">
        <p>You can set time of published</p>
        <%= form.date_field :published_at %>
        <%= form.submit %>
      </div>
      <% end %>
    </div>
    <%= link_to 'Back', articles_path %>
  </div>
