<div class="container show_for_user">

<%= render partial: 'article'%>

<%= render partial: 'carousel'%>

<%=render partial: "favorite"%>

<%= render partial: 'comment_text'%>

<%= render partial: 'comment_form'%>

</div>
<script>
$('.carousel').carousel({
  interval: 20000
})
</script>
