<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title><%= content_for?(:title) ? yield(:title) : "Newspaper" %></title>

  <%= favicon_link_tag 'favicons/favicon.ico' %>
  <%= stylesheet_link_tag 'article_for_user', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
</head>

<body>

      <div id="background"></div>
    <%= yield %>
    <%= alerts %>

</body>
</html>
